.ant-dropdown-menu.more-detail-dropdown {
  position: absolute;
  margin: -70px 50px 0 0;
  top: 0;
  left: 20px;
  background-color: #686e88;
  border: 0.5px solid #ffffff;
  color: white;
  border-radius: 5px;
}

.ant-dropdown-menu-item {
  color: white;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child.ant-dropdown-menu-item {
  background-color: transparent;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-active.ant-dropdown-menu-item {
  background-color: #a0a0a0;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item {
  background-color: transparent;
}
